


/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, 
fieldset, input {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
	outline: none;
}

a {
	text-decoration: none;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

html {
  height:100%;
}

body {
	font: 16px/1 'Roboto', sans-serif;
	color: #4d4d4d;
	background: #fff;
	font-weight: lighter;
	height:100%;
	-webkit-font-smoothing: antialiased;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
	margin: 0 auto;
	max-width: 960px;
  box-sizing: border-box;
}

#header-wrap,
#banner-wrap,
#nav-wrap,
#main-wrap,
#footer-wrap {
  position: relative;
  width:100%;
  z-index: 1;
}

@media (min-width: 993px) {
  #header-wrap .container {
    max-width: 100%;
    padding: 0 2em;
  }
}

a {
	color: #a1a1a1;
}

h2 {
	font-size: 1.75em;
	font-weight: 300;
	/*color: #ffffff;*/
  margin: 0 auto .75em;
}




.paragraph, p {
  margin: 0 auto 1.7em;
  line-height: 1.5;
}

.paragraph a:hover {
  color: #777777;
}

blockquote {
	background: none;
	font-size: 1.25em;
	line-height: 1.25;
	font-weight: lighter;
	color: #8e8e8e;
	padding: 15px 0px 15px 26px;
	margin: 0  auto 1em !important;
	border-left: 15px solid #ededed !important;
	font-style:normal !important;
}

hr {
	height: 2px;
	background: #ededed;
}

div#content {
  min-height:400px;
}


/* Header
--------------------------------------------------------------------------------*/

#header-wrap {
	background: #fff;
  text-align: left;
  border-radius: 0.1px;
  /* iPhone 6 Plus box shadow fix */
  -webkit-box-shadow: 0px 0px 3px rgba(99, 99, 99, .2);
	box-shadow: 0px 0px 3px rgba(99, 99, 99, .2);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.stuck {
  position: fixed !important;
  top: 0;
  z-index: 13 !important;
  -webkit-transition: all 240ms linear;
      -moz-transition: all 240ms linear;
      -o-transition: all 240ms linear;
      -ms-transition: all 240ms linear;
      transition: all 240ms linear;  
}

#logo {
  max-width: 300px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.75em;
}

#logo {
	padding: 15px 0px;
}

#logo img {
  max-width: 300px;
  max-height: 150px;
  -webkit-transition: all 240ms linear;
      -moz-transition: all 240ms linear;
      -o-transition: all 240ms linear;
      -ms-transition: all 240ms linear;
      transition: all 240ms linear;  
}

#header {
  position: relative;
  display: table;
  width:100%;
}

#logo, #nav {
  display: table-cell;
	vertical-align: middle;
}

.minimize  #logo img {
  max-height: 50px;
}


/* Navigation
--------------------------------------------------------------------------------*/

#nav {
	position: relative;
}

#nav ul {
	text-align: right;
  overflow: hidden;
}

#nav ul li {
	list-style: none;
	display: inline-block;
}

#nav ul li a {
	display: block;
	color: #8e8e8e;
	padding: 30px 15px;
	font-size: 14px;
	text-transform: uppercase;
  -webkit-transition: all 240ms linear;
      -moz-transition: all 240ms linear;
      -o-transition: all 240ms linear;
      -ms-transition: all 240ms linear;
      transition: all 240ms linear;  
}

.minimize #nav ul li a {
	padding: 15px;
}

#nav > ul li:first-child a {
  padding-left: 30px !important;
}

#nav > ul li:last-child a {
  padding-right: 0 !important;
}

#nav ul li.active {
	color: #ff8f2c;
	text-decoration:none;
	border: 0;
}
#nav ul li a:hover {
	color: #ff8f2c;
	text-decoration:none;
	border: 0;
}

#mobile-nav, #mobile-input, #nav-trigger, #mobile-cart {
  display: none;
}

/* Navigation Submenu's
--------------------------------------------------------------------------------*/

#wsite-menus {
  position: relative;
  z-index: 12;
}

#wsite-menus .wsite-menu {
  padding: 10px 0;
	background: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(99, 99, 99, .2);
	box-shadow: 0px 0px 3px rgba(99, 99, 99, .2);
}

#wsite-menus > .wsite-menu-wrap > .wsite-menu .wsite-menu-wrap {
  position: absolute !important;
  top: 0 !important;
  margin-top: -10px !important;
}

#wsite-menus .wsite-menu li a {
	font-family: 'Roboto', sans-serif;
	color: #8e8e8e;
	background: transparent !important;
	font-size:13px;
	text-transform: uppercase;
	border: 0;
	padding: 10px 20px;
}

#wsite-menus .wsite-menu li a > span {
  padding: 0;
}

#wsite-menus .wsite-menu li a:hover {
	color: #a1a1a1;
}

#wsite-menus .wsite-menu-arrow {
  right: 20px;
  width: 10px;
  overflow: hidden;
}

#wsite-menus .wsite-menu-arrow:before {
  display: inline-block;
  content: '\25b6';
  font-size: 75%;
  vertical-align: top;
  line-height: 1.5;
}

/* Universal banner
--------------------------------------------------------------------------------*/

#banner-wrap {
  z-index: 10;
}

#banner {
  display: table;
  width: 100%;
}

#banner-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 2em 0;

}

#banner h2 {
	color: #ffffff;
	font-size: 4em;
	font-weight: bold;
	margin: 0;
}

#banner p {
	color:#fff;
	font-size: 1.25em;
  font-weight: 500;
  margin: 0;
}

#banner .button-wrap {
  display: inline-block;
}

#banner h2 + p, #banner h2 + div {
  margin-top: 2em;
}

#banner p + div {
  margin-top: 2.5em;
}

#banner p a {
	color: #fff;
	text-decoration: underline;
}

#banner p a:hover {
	text-decoration: none;
}

#banner-cover {
	background: rgba(0, 0, 0, .3);
}

.wsite-background {
	background: url(images/default-bg.jpg) no-repeat center center;
	background-size:cover;
}

/* Page type: Landing page
--------------------------------------------------------------------------------*/

.landing-page #banner {
	height:250px;
}

/* Page type: Tall header
--------------------------------------------------------------------------------*/

.tall-header-page #banner {
	height: 375px;
}

/* Page type: Short header
--------------------------------------------------------------------------------*/

.short-header-page #banner {
	height: 250px;
}

.short-header-page #banner h2 {
  font-size: 3em;
}

/* Page type: Title 
--------------------------------------------------------------------------------*/

.title-page #banner {
	height: 300px;
}

.title-page #banner h2, .title-page #banner p {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

/* Page type: No header
--------------------------------------------------------------------------------*/

.no-header-page #banner-cover {
  background: #fff;
}

/* Splash Page
--------------------------------------------------------------------------------*/

.splash-page.wsite-background {
  background-attachment: fixed;
}

.splash-page #banner-cover,
.splash-page #banner-wrap {
	height:100%;
}

.splash-page #banner-cover {
  display: table;
  width: 100%;
  height: 100%;
}
.splash-page #banner-cover > div:first-child {
  display: table-row;
  height: 74px;
}

.splash-page #banner {
  height: 100%;
}

.splash-page .wsite-not-footer {
	text-align: center;
}

.splash-page #footer-wrap {
	display:none;
}


/* Main Content
--------------------------------------------------------------------------------*/

#main-wrap {
  position: relative;
  padding: 3.5em 0 4em;
}

/* Social Links
--------------------------------------------------------------------------------*/

.wsite-social {
  white-space: normal;
}

.wsite-social-item:before, .wsite-social-item:after {
  top: 0;
  left: 0;
}

.wsite-social-item {
  margin: 0 5px 10px;
  color: #c1c1c1;
}

.wsite-social-item:hover {
  color: #a1a1a1;
}

.splash-page .wsite-social-item {
  color: #ffffff;
}

.splash-page .wsite-social-item:hover {
  color: #8e8e8e;
}

/* Store 
----------------------------------------------------------------------------- */

.wsite-com-content {
  padding: 0;
}

.wsite-product {
  padding: 0 0 30px;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.wsite-product-image-wrap {
  margin: 10px 30px 10px 0;
}

.wsite-com-category-subcategory-name-bg {
  background: #000;
  opacity: .25;
  -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

.wsite-com-category-subcategory-name-text {
  display: inline-block;
  width: 96%;
  box-sizing: border-box;
  color: #000;
  text-shadow: none;
  vertical-align: middle;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.wsite-com-category-subcategory-name::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  vertical-align: middle;
}

.wsite-com-category-subcategory-name {
  text-align: center;
  height: 100%;
  width: 100%;
  display: inline-block;
  -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
      transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;  
}

/* Storefront Sidebar */

.wsite-com-content-with-sidebar .wsite-com-category-subcategory-group {
  display: none;
}

#wsite-com-store .wsite-com-sidebar{
	width: 100%;
	float: none !important;
	padding: 0 !important;
	text-align: center;
	position: relative;
	z-index: 11;
	margin: 0 auto 15px;
	cursor: pointer;
	min-height: 40px;
}
#wsite-com-store .wsite-com-sidebar {
	width: 100%;
	float: none !important;
	padding: 0 !important;
	text-align: center;
	position: relative;
	z-index: 12;
	margin: 0 auto 15px;
	cursor: pointer;
	min-height: 40px;
}
#wsite-com-store .wsite-com-sidebar::after {
  position: absolute;
  top: 0;
	content: 'CATEGORIES \25be';
	padding: 0;
	text-align: center;
	font-weight: 900 !important;
	text-transform: uppercase;
	color: white;
	background: #a1a1a1;
	clear: both;
	width:100%;
	padding:10px 18px;
	display:block;
	z-index: 10;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: all 120ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
	-moz-transition: all 120ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
	-o-transition: all 120ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
	-ms-transition: all 120ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: all 120ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#wsite-com-store .sidebar-expanded::after {
	display: none;
}
#wsite-com-store .sidebar-expanded {
	cursor: default !important;
}
#wsite-com-store .wsite-com-content-with-sidebar {
	margin-left: 0 !important;
	padding: 0 !important;
}
#wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy > ul {
	top: 0;
	left: 0;
	width: 100%;
	padding: 2em 0 .25em !important;
	background: #a1a1a1;
}

#wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy {
	position: absolute;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	top:0;
	z-index: 11;
	-webkit-transition: max-height 350ms linear;
	-moz-transition: max-height 350ms linear;
	-o-transition: max-height 350ms linear;
	-ms-transition: max-height 350ms linear;
	transition: max-height 350ms linear;
}

#wsite-com-store #wsite-com-hierarchy ul ul {
  margin-left: 0;
  margin-bottom: .25em;
}

#wsite-com-store #wsite-com-hierarchy > ul > li > {
  font-weight: bold;
}

#wsite-com-store .sidebar-expanded #wsite-com-hierarchy, .wsite-com-sidebar:hover #wsite-com-hierarchy {
	max-height: 2000px !important;
	margin: 0 auto .25em;
}

#wsite-com-store #wsite-com-hierarchy ul .wsite-com-link-text {
  padding: .2em 0;
}

.postload .wsite-com-sidebar:hover #wsite-com-hierarchy {
	max-height: 0px !important;
}

#wsite-com-store #close {
	position: absolute;
	z-index: 12;
	width: 100%;
	top: 0px;
	text-align: center;
	font-weight: 900 !important;
	text-transform: uppercase;
	color: white;
	display: block;
	padding:10px 0;
}
#wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy a, #wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy {
	color: white;
}
#wsite-com-hierarchy .wsite-selected {
  font-weight: bold;
  color: #fff;
}

#wsite-com-hierarchy  a.wsite-com-link {
  color: #fff !important;
}

/*Products*/

a:hover .wsite-com-category-subcategory-name-bg {
  background: #a1a1a1;
  opacity: .65;
}

#wsite-com-product-options {
  border-top: none;
}

.wsite-com-product-option-label {
    margin-bottom: 9px;
    overflow: hidden;
    position: relative;
}

.wsite-com-product-option-radio .wsite-com-product-option-label {
  padding-left: 30px;
}

a.wsite-com-link {
	color: #2b2b2b !important;
	text-transform: uppercase;
	font-size: 1em !important;
	font-weight: 400;
}

a.wsite-com-link:hover {
	color: #a1a1a1 !important;
}

a.wsite-com-link:hover .wsite-imageaspectratio-image-wrap {
	background: rgba(255, 255, 255, 0.75);
}

#wsite-com-product-title {
    font-weight: 100 !important;
}

#wsite-com-product-price-area {
    border-bottom: 2px solid #ededed !important;
    font-size: 18px !important;
}

#wsite-com-product-quantity-input {
    height: 29px !important;
}

#wsite-com-breadcrumbs.wsite-com-product-breadcrumbs, #wsite-com-breadcrumbs.wsite-com-category-breadcrumbs {
    text-transform: uppercase;
}

#wsite-com-product-images-strip .wsite-com-product-images-secondary-outer {
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}

/* Mini cart */

.postload #wsite-mini-cart,
.postload #wsite-menus .wsite-menu-wrap {
  position: fixed !important;
  top: auto !important;
}


/* Gallery
--------------------------------------------------------------------------------*/

.galleryImageBorder {
	background:none;
	border:none !important;
	padding:4px;
}

.galleryCaptionHolderInnerBg {
  background: #a8a8a8;
	opacity:0.75;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);  
}

.galleryInnerImageHolder img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);  
}

.galleryImageHolder .galleryCaptionInnerText {
	font-family: 'Roboto', sans-serif;
	color: #fff !important;
	font-weight: 500 !important;
}

/* Footer
--------------------------------------------------------------------------------*/
#footer-wrap {
	text-align: left;
	/*border-top: 2px solid #ededed;*/
	padding: 40px 0px;
}

/* Blog
--------------------------------------------------------------------------------*/

.blog-post .blog-title {
	font-weight:100;
}

.blog-post .blog-title a {
	color:#2b2b2b;
	text-decoration:none;
	display:block;
	margin-bottom:5px;
}

.blog-post .blog-date {
	font-size:14px;
	text-transform:uppercase;
	color: #8e8e8e;
}

.blog-post .blog-comments {
	font-size:14px;
	text-transform:uppercase;
	float:left !important;
	padding-left:10px !important;
}

.blog-post .blog-comments a {
	text-decoration:none;
}

.blog-post .blog-separator {
	border-bottom: 2px solid #ededed;
	margin-bottom: 13px !important;
}

.blog-post .blog-header {
	margin-bottom:13px !important;
}

.blog-sidebar {
  width: 260px;
  font-size:14px;
	font-weight:300;
	color:#8e8e8e;
}

.blog-sidebar h2 {
	font-size:24px;
	font-weight:100;
	margin-bottom:5px !important;
	padding-bottom:10px;
	border-bottom: none;
}

.blog-sidebar a {
	text-decoration:none; 
}

.blogCommentReplyWrapper,
.blogCommentReplyWrapper iframe {
	min-height: 650px;
}

.blogCommentSubreplyWrapper div.iframeWrapper {
  border-radius: 0 !important;
  border: none !important;
  background: #ededed !important;
}

#commentPostDiv .field-checkbox label input { float: left; }

#commentPostDiv .field-checkbox label span {
    display: block;
    float: left;
    padding-left: 8px;
    padding-top: 7px;
}

.blog-button {
	height: 50px;
	line-height:50px;
	display: inline-block;
	padding: 0px 43px ;
	background:#fff;
	border-radius:10px;
	border:2px solid #a8a8a8;
	text-transform: uppercase;
	font-size:16px;
	color: #2b2b2b !important;
}

.blog-button:hover {
	background: #a8a8a8;
	color: #fff !important;
}

.blog-button span {
	background:none;
}

#commentAreaTitle {
    font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight:100;
	color: #2b2b2b;
}

#commentPostArea .field textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight:100;
	color: #2b2b2b;
	background: #fff !important;
	padding: 10px !important;
	border:1px solid #c1c1c1;
    border-radius: 3px;
	height: 49px !important;
	line-height: 19px !important;
}

#commentPostArea .field input {
	font-family: 'Roboto', sans-serif !important;
	font-size: 15px !important;
	font-weight:100;
	color: #2b2b2b !important;
	background: #fff !important;
	padding: 5px 10px !important;
	border:1px solid #c1c1c1 !important;
    border-radius: 3px;
	height: 29px !important;
	line-height: 29px !important;
}

.blogCommentHeading .blogCommentHeadingInner, .blogCommentWrap, .blogCommentHeading, .blogCommentHeading .blogCommentAuthor {
	background:none !important;
}

.blogCommentWrap {
	background: url(images/comment-bubble-v8.png) no-repeat top left !important;
	display: block;
    padding-left: 60px;
}

.blogCommentHeading {
	margin:0px;
}

.blogCommentHeading .blogCommentAuthor span.name, .blogCommentHeading .blogCommentAuthor a.name {
    color: #2b2b2b !important;
	font-size:14px;
    text-transform: capitalize;
}

.blogCommentHeading .blogCommentDate {
    color: #8e8e8e;
    float: left;
    font-size: 14px;
    padding: 0 9px 0 15px;
    text-align: left;
    text-shadow: none;
	text-transform:uppercase;
}

.blogCommentText p {
    font-size: 15px;
	color: #8e8e8e;
	font-weight:100;
	margin-bottom:15px;
}

/* Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-label {
	margin: 0 0 10px !important;
	display: inline-block;
}

.wsite-form-field {
  margin: 0 0 30px !important;
}

.wsite-form-input-container {
  margin: 0 0 10px !important;
}

.wsite-form-input, .wsite-search-element-input, .form-select {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight:100;
	color: inherit;
	background: #ffffff;
	padding: 10px !important;
	border: 1px solid #c1c1c1;
  border-radius: 3px;
	outline: none;
}

.form-select {
  height: 41px !important;
}

.wsite-form-input:focus, .wsite-search-element-input:focus, #commentPostArea .field input:focus, #commentPostArea .field textarea:focus {
	border-color: #a1a1a1 !important;
}

.wsite-phone-field {
  float: left;
}

.wsite-form-sublabel {
  display: none;
}

.wsite-name-field {
  float: left;
}

.wsite-com-product-option-label input, .form-radio-container input {
  display: none !important;
}

.wsite-com-product-option-label span:before, .form-radio-container label:before {
  content: '';
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.wsite-com-product-option-label input[type="radio"] ~ span:before, .form-radio-container input[type="radio"] ~ label:before {
	background: transparent url(images/radio-v8.png) no-repeat left top;
	width: 22px;
	height: 22px;
  background-size: 22px auto !important;
}

.wsite-com-product-option-label input[type="checkbox"] ~ span:before, .form-radio-container input[type="checkbox"] ~ label:before {
	background: transparent url(images/checkbox-v8.png) no-repeat center top;
	width: 23px;
	height: 24px;
  background-size: 23px auto !important;
}

.wsite-com-product-option-label input[type="radio"]:checked ~ span:before, .form-radio-container input[type="radio"]:checked ~ label:before {
  background-position: 0 -22px;
}

.wsite-com-product-option-label input[type="checkbox"]:checked ~ span:before, .form-radio-container input[type="checkbox"]:checked ~ label:before {
  background-position: 0 -24px;
}

/* Buttons
--------------------------------------------------------------------------------*/


.wsite-button,
.wsite-editor .wsite-button {
	display: inline-block;
  padding: 0;
	color: #EA750E !important;
	font-size: .9em !important;
	background: #fff;
	background-image: none !important;
	border: 2px solid #EA750E;
	border-radius: 6px;
	text-transform: uppercase;
	transition: background-color 0.65s ease, border 0.65s ease;
}

.wsite-button:hover {
	color: #fff !important;
	/*background: #a8a8a8;*/
  background: #EA750E;
}

.wsite-button-inner {
	display: block;
	height: auto !important;
	padding: 16px 30px !important;
	line-height: 1 !important;
	background: none !important;
}

.wsite-button-inner1{
  	display: block;
    height: auto !important;
	padding: 16px 30px !important;
	line-height: 1 !important;
}
.wsite-button-inner1:hover {
	color: #fff !important;
	/*background: #a8a8a8;*/
    background: #EA750E;
}

.wsite-button-large {
	font-size: 1em !important;
}

.wsite-button-large .wsite-button-inner .wsite-button-inner1 {
	padding: 20px 35px !important;
}


/* Highlighted styles */

.wsite-button-highlight,
.wsite-editor .wsite-button-highlight {
	color: #fff !important;
	background: #a8a8a8;
	border-color: #a8a8a8;
}

.wsite-button-highlight:hover {
	background: #777777;
	border-color: #777777;
}

#banner .wsite-button, #splash-wrap .wsite-button {
  color: #fff !important;
  background: none;
  border-color: #fff;
}

#banner .wsite-button:hover, #splash-wrap .wsite-button:hover {
	color: #777777 !important;
	background: #fff;
}

#banner .wsite-button-highlight, #splash-wrap .wsite-button-highlight {
	color: #a8a8a8 !important;
	background: #fff;
	border-color: #fff;
}

#banner .wsite-button-highlight:hover, #splash-wrap .wsite-button-highlight:hover {
  color: #fff !important;
	background: none;
	border-color: #fff;
}

/* Content Elements
------------------------------------------------------------------------------------------------------*/


/* Gallery Lightbox, Slideshows */

.imageGallery .galleryCaptionInnerText p,
.imageGallery .galleryCaptionInnerText {
  font-weight: normal;
}

.fancybox-skin {
  background: transparent !important;
  webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff !important;
}

.fancybox-close {
  right: 20px;
  top: 18px;
}

.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background: none !important;
  width: auto;
  height: auto;
}

.fancybox-close:before,
.fancybox-next span:before,
.fancybox-prev span:before {
  font-size: 50px;
  line-height: .5;
  color: #fff !important;
}

.fancybox-close:hover:before,
.fancybox-next:hover span:before,
.fancybox-prev:hover span:before {
  color: #fff !important;
}

.fancybox-close:before {  
  font-family: 'Calibri';
  font-size: 50px;
  content: '\00D7';
}

.fancybox-prev span:before {
  content: '\3008';
  font-family: arial;
}

.fancybox-next span:before {
  content: '\3009';
  font-family: arial;
}

.fancybox-title {
  font-size: 1em;
}

#fancybox-thumbs ul li a {
  border: none;
}

#fancybox-thumbs ul li.active {
  opacity: 1;
}

/* Tablets
--------------------------------------------------------------------------------*/

@media (max-width: 992px) {
  
  body {
    font-size: 15px;
  }
  
  .container {
    padding: 0 2em;
  }
  
  #header-wrap {
    text-align: center;
  }

  /* Mobile Nav
  --------------------------*/
  
  #nav {
    display: none;
  }

  #mobile-nav {
    position: relative;
    display: block !important;
  }
  
  #mobile-nav .wsite-menu-arrow {
    display: none;
  }
  
  /* Nav button */
  
  #nav-trigger {
    position: relative;
    display: table-cell;
  	vertical-align: middle;
  }
  
  #nav-trigger span, #nav-trigger:before, #nav-trigger:after {
    display: block;
    width: 20px;
    height: 3px;
    background: #a1a1a1;
  }
  
  #nav-trigger:before, #nav-trigger:after {
    content: '';
  }
  
  #nav-trigger span {
    margin: 4px 0;
  }
  
  /* Logo */

  #logo {
    width: 100%;
    margin: auto;
    padding: 10px 30px 10px 10px;
    font-size: 1.5em !important;
  }

  .commerce #logo {
    padding: 10px;  
  }  
  
  #logo img {
    max-height: 50px;
    max-width: 100%;
  }
  
  /* Menu */
  
  #wsite-menus {
    display: none !important;
  }
  
  #mobile-nav > ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    font-size: 18px;
    -webkit-transition: all 240ms linear;
        -moz-transition: all 240ms linear;
        -o-transition: all 240ms linear;
        -ms-transition: all 240ms linear;
        transition: all 240ms linear;  
  }
  
  body.menu-open #mobile-nav ul {
    max-height: 900px;
  }
  
  #mobile-nav > ul li {
    list-style: none;
    position: relative;
  }
  
  #mobile-nav > ul > li:first-child {
    padding-top: 10px;
  }
  #mobile-nav > ul > li:last-child {
    padding-bottom: 10px;
  }
  
  #mobile-nav a {
    padding: 5px 20px;
    display: block;
  }
  
  /* Submenus */
  
  #mobile-nav .wsite-menu-wrap {
    position: relative;
    display: block !important;
    margin: 0 auto;
    max-height: 30px;
    overflow: hidden;
    -webkit-transition: all 240ms linear;
        -moz-transition: all 240ms linear;
        -o-transition: all 240ms linear;
        -ms-transition: all 240ms linear;
        transition: all 240ms linear;  
  }
  
  #mobile-nav .wsite-menu a {
    color: #8e8e8e;
  }
  
  .accordion {
    color: #c1c1c1;
  }
  
  .accordion > span:before {
    content: '–';
    display: inline-block;
  }
  
  .accordion > span, .accordion > span:after {
    content: '–';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    text-align: right;
    font-weight: normal;
    z-index: 2;
  }

  .accordion > span:after {
    width: 22px;
    z-index: 1;
    text-align: center;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 240ms linear;
        -moz-transition: all 240ms linear;
        -o-transition: all 240ms linear;
        -ms-transition: all 240ms linear;
        transition: all 240ms linear;  
  }
  
  .accordion.open {
    max-height: 400px !important;
  }
  
  .accordion.open > span {
    content: '–';
    width: 20px;
  }
  
  .accordion.open > span:after {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  /* Cart */
  
  #mobile-cart {
    display: table-cell;
  	vertical-align: middle;
  }
  
  #mobile-cart span {
    display: block;
    color: #fff;
    background: #a1a1a1;
    border: 1px solid #a1a1a1;
    width: 16px;
    padding: 4px 2px;
    font: 12px/1 arial, sans-serif;
    text-align: center;
    -webkit-transition: all 240ms linear;
        -moz-transition: all 240ms linear;
        -o-transition: all 240ms linear;
        -ms-transition: all 240ms linear;
        transition: all 240ms linear;  
  }
  
  #mobile-cart:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 auto -6px;
    border: 1px solid #a1a1a1;
    border-radius: 100%;
    z-index: 0;
  }
  
  #wsite-mini-cart {
    display: none !important;
  }
  
  #mobile-cart.highlight span {
    background: #fff;
    color: #a1a1a1;
  }
}

/* Mobile
--------------------------------------------------------------------------------*/

@media (max-width: 767px) {
 
  body {
    font-size: 14px;
  }

  .wsite-multicol-col {
    max-width: 100% !important;
    display: block;
    width: auto !important;
    margin: 0 auto 1em !important;
  }
  
  .container {
    padding: 0 1.5em;
  }
  
  /* Banner */

  #banner h2 {
  	font-size: 2em;
  }

  #banner p {
  	font-size: 1em;
  }

  #banner h2 + p, #banner h2 + div {
    margin-top: 1.5em;
  }

  #banner p + div {
    margin-top: 2em;
  }

  #banner h2 .wsite-headline,
  #banner p .wsite-headline-paragraph {
    font-size: 1em !important;
  }

  .tall-header-page #banner {
  	height: 250px;
  }

  .short-header-page #banner {
  	height: 200px;
  }

  .short-header-page #banner h2 {
    font-size: 1.75em !important;
  }

  .title-page #banner {
  	height: auto;
  	padding: 50px 1.5em;
  }

  .title-page #banner h2, .title-page #banner p {
    display: block;
    width: 100%;
  }

  .landing-page #banner {
  	height: 300px;
  }
  /* Store */
  
  .wsite-com-sidebar, .wsite-com-content-with-sidebar {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }  
  
  .wsite-com-sidebar {
    margin-bottom: 2em;
  }

  #wsite-com-store .wsite-com-category-subcategory-group .wsite-com-column, #wsite-com-store .wsite-com-category-product-featured-group .wsite-com-column,  #wsite-com-store .wsite-com-category-product-group .wsite-com-column {
    width: 50% !important;
  }
  
  #wsite-com-product-images, .wsite-com-product-option-groups select {
    width: 100% !important;
  }
  
  #wsite-com-product-images, #wsite-com-product-images .wsite-com-column {
    float: none !important;
  }
  
  #wsite-com-product-info {
    margin-left: 0 !important;
    margin-top: 25px;
  }
  
  #wsite-com-checkout-list .wsite-remove-button, #wsite-com-checkout-summary-list .wsite-remove-button {
    display: block;
    margin: 5px auto 0;
    left: auto;
    top: auto;
  }
  
  .wsite-com-continue-shopping .caret, #wsite-com-checkout-list, #wsite-com-checkout-summary-list {
    line-height: 2em;
  }
  
  #wsite-com-checkout-list .wsite-form-input:not(.wsite-coupon-input), #wsite-com-checkout-summary-list .wsite-form-input:not(.wsite-coupon-input) {
    width: 25px;
  }
  
  #wsite-com-checkout-list .wsite-coupon-input,
  #wsite-com-checkout-summary-list .wsite-coupon-input {
    width: 100px;
  }
  
  #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image {
    width: 50px !important;
    height: 50px !important;
  }
  
  .wsite-com-continue-shopping .caret, #wsite-com-checkout-list, #wsite-com-checkout-summary-list {
    font-size: .65em !important;
  }
  
  #wsite-com-checkout-cart-footer {
    text-align: center !important;
  }
  
  #wsite-com-checkout-cart-footer form {
    float: none !important;
    margin: 1em auto 0;
  }
  
  .wsite-com-category-subcategory {
    margin: 0 auto 1em !important;
  }  
  
  /* Stripe Checkout Page
  ---------------------------------------*/

  .wsite-com-checkout-payment-column,
  .wsite-com-checkout-summary-column {
    display: block !important;
    width: auto !important;
    max-width: 100% !important;
    margin: 0 auto 1em !important;
  }
  
  #wsite-com-checkout-cart-footer {
    text-align: center;
  }
  
  .wsite-com-continue-shopping {
    display: block;
    margin: 0 auto 5px;
  }
  
  #wsite-com-checkout-cart-footer form {
    float: none !important;
  }
  
  .wsite-com-continue-shopping .caret {
    vertical-align: middle;
  }
  
  #wsite-com-checkout-payment-order {
    margin-left: 0;
  }
  
  #wsite-com-checkout-payment-order {
    margin-left: 0;
  }
  
  
  /* Blog */
  
  #blogTable > tbody > tr > td {
    display: block !important;
    width: 100% !important;
    margin: 0 auto;
    padding: 0 !important;
    /*text-align: center;*/
  }
  .blog-body {
    float: none !important;
  }
  .blog-header {
    text-align: left;
  }
  .blog-sidebar .column-blog {
    width: 100%;
    float: none;
    padding-top: 3em;
    border-top: 1px solid #a8a8a8normal;
  }


.wslide {
width: 100%;
height : 1244;
autolink : false;
fade : true;
duration : 2000;
}
.wslide-slide-inner1 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px!important;
}
.wslide-slide-inner2 {
  left: 0px!important;
  max-width: 2000px!important;  /* Make slider responsive */
  width: 100%!important;  /* Make slider responsive */
  position: initial!important;   /* Change */
  top:0px!important;
}
.wslide-content {
  position: relative;
  overflow: hidden;
  height:200px!important;
}
.wslide-slide {
  position: inherit!important;  /* Change */
  top: 0;
  left: 0;
  width: 100%;
  height: 75%!important; /* Change for Images' Height */
  overflow: hidden;
}
.wslide-main {
position: relative;
z-index: 2;
width: 100%;
margin-top: 5px;
}
.wslide-overlay-top-left {
  position: absolute;
  z-index: 2;
  top: 10px!important;
  left: 10px;
}

}
/*-----------------------------------------------custom-------------------------------------------------------------*/
#wsite-title{
  color:#ff8f2c;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/


  /* jssor slider bullet navigator skin 05 css */
  /*
  .jssorb05 div           (normal)
  .jssorb05 div:hover     (normal mouseover)
  .jssorb05 .av           (active)
  .jssorb05 .av:hover     (active mouseover)
  .jssorb05 .dn           (mousedown)
  */
  .jssorb05 {
      position: absolute;
  }
  .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
      position: absolute;
      /* size of bullet elment */
      width: 16px;
      height: 16px;
      background: url('../images/slider/b05.png') no-repeat;
      overflow: hidden;
      cursor: pointer;
  }
  .jssorb05 div { background-position: -7px -7px; }
  .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
  .jssorb05 .av { background-position: -67px -7px; }
  .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

  /* jssor slider arrow navigator skin 11 css */
  /*
  .jssora11l                  (normal)
  .jssora11r                  (normal)
  .jssora11l:hover            (normal mouseover)
  .jssora11r:hover            (normal mouseover)
  .jssora11l.jssora11ldn      (mousedown)
  .jssora11r.jssora11rdn      (mousedown)
  */
  .jssora11l, .jssora11r {
      display: block;
      position: absolute;
      /* size of arrow element */
      width: 37px;
      height: 37px;
      cursor: pointer;
      background: url(../images/slider/a11.png) no-repeat;
      overflow: hidden;
  }
  .jssora11l { background-position: -11px -41px; }
  .jssora11r { background-position: -71px -41px; }
  .jssora11l:hover { background-position: -131px -41px; }
  .jssora11r:hover { background-position: -191px -41px; }
  .jssora11l.jssora11ldn { background-position: -251px -41px; }
  .jssora11r.jssora11rdn { background-position: -311px -41px; }



  .hidden {
    display: none;
}



  /**************************************************hover effect***************************************/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


/*--------------------------temp----------------------------------------*/

.wrapper{
  width:1200px;
  margin:0 auto;

}
.portfolio-thumbnail{
  float:left;
  width:25%;
  border:1px solid white;
  box-sizing: border-box;
  position:relative
}

.portfolio-thumbnail img{
  max-width:100%;
}

.text {
	position: absolute;
	font-family: "courier new";
	font-size:30px;
	font-style: bold;
	color: black;
	background-color:rgba(0, 0, 0, 0.6);
	width: 100%;
	line-height:50px;
	text-align: center;
	z-index:10;
	opacity: 0;
  display:block;
  height:100%;
  overflow: hidden;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

.text:hover {
	opacity:1;
}

/**********************************************************************************************************************/

/* CSS for Pop up window for terms and privacy page (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close1, .close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,.close2:hover,
.close1:focus, .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    height:20px;
    padding: 2px 16px;
    background-color: #ff8f2c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #ff8f2c;
    color: white;
}

#terms,#privacy {
    background:none!important;
     border:none;
     padding:0!important;

    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     cursor:pointer;
}

/**********************************************************************************************************************/