{% extends 'index.html' %}
{% load staticfiles %}
{% block banner-content %}
<h2>About Us</h2>
{% endblock %}
{% block content %}
<div id="main-wrap">
   <div class="container">
      <div id='wsite-content' class='wsite-elements wsite-not-footer'>
         <div>
            <div class="wsite-multicol">
               <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                  <table class="wsite-multicol-table">
                     <tbody class="wsite-multicol-tbody">
                        <tr class="wsite-multicol-tr">
                           <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                              <div class="paragraph" style="text-align:left;"><span>We are a small team of teachers enthusiastic about teaching computer programming to
                                 children. There is already considerable work done to train absolute beginners in basic
                                 programming concepts, such as performing repeated tasks or making choices. We do not
                                 reinvent the wheel there. We plan to re-use free open source software such as&nbsp;</span><strong><a href="https://scratch.mit.edu/" style="color:#ff8f2c" target="_blank">Scratch</a></strong><span>&nbsp;</span><span>Scratch to
                                 introduce these basic concepts in programming to absolute novices. However we do not
                                 stop at that. There is still quite some ground to cover.</span>
                              </div>
                              <div>
                                 <div style="height: 20px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 </hr>
                                 <div style="height: 20px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div>
                                 <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
                                    <a>
                                    <img src="{% static 'images/about_us_2.jpg' %}" alt="Picture" style="width:auto;max-width:100%" />
                                    </a>
                                    <div style="display:block;font-size:90%"></div>
                                 </div>
                              </div>
                           </td>
                           <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                              <div>
                                 <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                    <a>
                                    <img src="{% static 'images/about_us_1.jpg' %}" alt="Picture" style="width:auto;max-width:100%" />
                                    </a>
                                    <div style="display:block;font-size:90%"></div>
                                 </div>
                              </div>
                              <div class="wsite-spacer" style="height:40px;"></div>
                              <div>
{#                                 <div style="height: 20px; overflow: hidden; width: 100%;"></div>#}
                                 <hr class="styled-hr" style="width:100%;">
                                 </hr>
                                 <div style="height: 20px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;">
                                 <span>We aim to extend that introductory knowledge-base further, and teach the kids to write
                                 slightly more sophisticated programs. This will be done using the popular language&nbsp;</span><strong><a href=" https://www.python.org/" style="color:#ff8f2c" target="_blank">Python</a></strong>
                                 <span>
                                    &nbsp;which is well known for its simplicity and elegance. It is easy for a
                                    beginner to learn programming with Python.<br>Sounds interesting? Do you want to know more?
                                    <div class="element-box">
                                       <div class="element-box-contents">
                                          <div class="element" id="530487471687511831" style="text-align:left;">
                                             <div style="height: 10px; overflow: hidden;"></div>
                                             <a href="/learn_with_us" ><span class="wsite-button wsite-button-small wsite-button-normal" >
                                             <span class="wsite-button-inner "  style="cursor: text;">Yes, I Want to</span>
                                             </span></a>
                                             <div style="height: 10px; overflow: hidden;"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </span>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}