{% extends 'index.html' %}
{% load staticfiles %}
{% block banner-content %}
<h2>Contact Us</h2>
{% endblock %}
{% block content %}
<div id="main-wrap">
   <div class="container">
      <div id='wsite-content' class='wsite-elements wsite-not-footer'>
         <div>
            <div class="wsite-multicol">
               <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                  <table class="wsite-multicol-table">
                     <tbody class="wsite-multicol-tbody">
                        <tr class="wsite-multicol-tr">
                           <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                              <h2 class="wsite-content-title" style="text-align:left;">If you want to invite us to your school</h2>
                              <div class="paragraph" style="text-align:justify;">We are open to any kind of collaboration with schools. If you have suggestions or
                                 question about what we can do together to make education of computer
                                 programming easier for children please feel free to write to us. Please choose
                                 subject “school” in the feedback form below, type you message and click “SEND”.
                              </div>
                              <h2 class="wsite-content-title" style="text-align:left;">If you want to work with us</h2>
                              <div class="paragraph" style="text-align:justify;">We are always happy to get any volunteers to help us. If you like our idea and you think that you are ready to contribute your time and your talent to make this project
                                 better you are more than welcome! Please choose subject “work” in the feedback form below, type you message and click “SEND”.
                              </div>
                              <h2 class="wsite-content-title" style="text-align:left;">If you have something else to say or offer</h2>
                              <div class="paragraph" style="text-align:justify;">If you have something else to say or offer what can be useful for our project, please
                                 feel free to share with us. Please choose subject “other” in the feedback form below, add your own subject,
                                 type your message and click “SEND”.
                              </div>
                           </td>
                           <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                              {#-----------------------------------------------------------------------------------------------------------------#}
                              <div>
                                 <div class="wsite-multicol">
                                    <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                       <table class="wsite-multicol-table">
                                          <tbody class="wsite-multicol-tbody">
                                             <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                                   <h2 class="element wsite-content-title "  id="822305446810436301" style="text-align:left;" tabindex="0" spellcheck="true" role="textbox" aria-label="false">We will be happy to get a message from you <em><font size="4"></font></em></h2>
                                                   <form method="post" action="/contact_us/">
                                                      {% csrf_token %}
                                                      {#                        {{ form.as_p }}#}
                                                      <div id="first" style="margin-top: 15px">Contact Name :   {{ form.contact_name}}</div>
                                                      <div id="second" style="margin-top: 15px">Contact Email : {{ form.contact_email}}</div>
                                                      <div id = "third" style="margin-top: 15px">Subject    :    {{ form.Subject}}</div>
                                                      <div id="fourth" style="margin-top: 15px;display:none">Subject Text:  {{ form.Subject_Text}}</div>
                                                      <div id="fifth" style="margin-top: 15px">Content     :     {{ form.content}}</div>
                                                      <div class="form-actions">
                                                         <button type="submit" style="margin-top: 20px">Send</button>
                                                      </div>
                                                   </form>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
               </div>
               {#  ------------------------------------------------------------------------------------------------------------------  #}
               <h2 class="wsite-content-title" style="text-align:left;	margin-top: 20px">Contact Us</h2>
               <div class="paragraph" style="text-align:left;">
               <strong>info@softklas.com</strong><br /><br />
               </div>
               </td>			</tr>
               </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div>
   <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
      <a>
      <img src='{% static 'images/4844710.png' %}' alt="Picture" style="width:265px;max-width:100%" />
      </a>
      <div style="display:block;font-size:90%"></div>
   </div>
</div>
<script>
   $(document).ready(function(){
   $('#third').change(function() {
                      var selected = $('#third option:selected').text();
   
                      if (selected == 'OTHER') {
                          $('#fourth').val("")

                          $('#fourth').show();
                      }
                      else{
                          $('#fourth').hide();
                      }
                  });
                  });
       			
</script>
{% endblock %}