{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
   <head>
      <title>Softklas</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0;">
      <script type="text/javascript" src="{% static "js/jquery-1.6.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
      <script type="text/javascript" src="{% static "js/plugins.js" %}"></script>
      <script type="text/javascript" src="{% static "js/jssor.slider.mini.js" %}"></script>
      <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script type="text/javascript" src="{% static "js/fancybox.js" %}"></script>
      <script type="text/javascript" src="{% static "js/fancybox-thumbs.js" %}"></script>
      <link rel="stylesheet" href="{% static "css/main_style.css" %}" type="text/css" media="screen" />
      <link rel="stylesheet" href="{% static "css/fancybox.css" %}" type="text/css" media="screen" />
      <link rel="stylesheet" href="{% static "css/fancybox-thumbs.css" %}" type="text/css" media="screen" />
      <link id="wsite-base-style" rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1234" />
      <link rel="stylesheet" type="text/css" href="http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1234" />
      <link rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/social-icons.css?buildtime=1234" media="screen,projection" />
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <link href='http://fonts.googleapis.com/css?family=Actor&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
      <script src="http://cdn2.editmysite.com/js/site/main.js?buildTime=1234"></script><script type="text/javascript">_W.configDomain = "www.weebly.com";</script><script type="text/javascript" src="http://cdn2.editmysite.com/js/lang/en/ftl.js?buildTime=1234"></script><script>_W.relinquish && _W.relinquish()</script>
   </head>
   <body class="short-header-page  wsite-theme-light  wsite-page-about-us">
      <div id="banner-wrap" class="wsite-background wsite-custom-background">
         <div id="banner-cover">
            <div id="header-wrap">
               <div id="header" class="container">
                  <label id="nav-trigger" class="hamburger" for="mobile-input"><span></span></label>
                  <h1 id="logo"><span class="wsite-logo">
                     <a href="/landing">
                     <span id="wsite-title">Softklas</span>
                     </a>
                     </span>
                  </h1>
                  <div id="nav">
                     <ul class="wsite-menu-default">
                        <li id="pg974428207463643899"
                           class="wsite-menu-item-wrap"
                           >
                           <a href="/landing"
                              class="wsite-menu-item"
                              >
                           Home
                           </a>
                        </li>
                        <li id="active"
                           class="wsite-menu-item-wrap"
                           >
                           <a href="/about_us"
                              class="wsite-menu-item"
                              >
                           About us
                           </a>
                        </li>
                        <li id="pg420037911811024082"
                           class="wsite-menu-item-wrap"
                           >
                           <a href="/learn_with_us"
                              class="wsite-menu-item"
                              >
                           Courses
                           </a>
                        </li>
                        <li id="pg162248874104746561"
                           class="wsite-menu-item-wrap"
                           >
                           <a href="/workshops"
                              class="wsite-menu-item"
                              >
                           Workshops
                           </a>
                        </li>
                        <li id="pg110926101652988044"
                           class="wsite-menu-item-wrap"
                           >
                           <a href="/contact_us"
                              class="wsite-menu-item"
                              >
                           Contact Us
                           </a>
                        </li>
                        {#		<li id="pg912950989649291102"#}
                        {#			class="wsite-menu-item-wrap"#}
                        {#			>#}
                        {#			<a href="/login"#}
                        {#				#}
                        {#				class="wsite-menu-item"#}
                        {#				>#}
                        {#				Login#}
                        {#			</a>#}
                        {#			#}
                        {#		</li>#}
                     </ul>
                  </div>
               </div>
               <div id="mobile-nav" class="container">
                  <ul class="wsite-menu-default">
                     <li id="pg974428207463643899"
                        class="wsite-menu-item-wrap"
                        >
                        <a href="/landing"
                           class="wsite-menu-item"
                           >
                        Home
                        </a>
                     </li>
                     <li id="active"
                        class="wsite-menu-item-wrap"
                        >
                        <a href="/about_us"
                           class="wsite-menu-item"
                           >
                        About us
                        </a>
                     </li>
                     <li id="pg420037911811024082"
                        class="wsite-menu-item-wrap"
                        >
                        <a href="/learn_with_us"
                           class="wsite-menu-item"
                           >
                        Courses
                        </a>
                     </li>
                     <li id="pg162248874104746561"
                        class="wsite-menu-item-wrap"
                        >
                        <a href="/workshops"
                           class="wsite-menu-item"
                           >
                        Workshops
                        </a>
                     </li>
                     <li id="pg110926101652988044"
                        class="wsite-menu-item-wrap"
                        >
                        <a href="/contact_us"
                           class="wsite-menu-item"
                           >
                        Contact Us
                        </a>
                     </li>
                     {#							<li id="pg912950989649291102"#}
                     {#								class="wsite-menu-item-wrap"#}
                     {#								>#}
                     {#								<a href="/login"#}
                     {#									#}
                     {#									class="wsite-menu-item"#}
                     {#									>#}
                     {#									Login#}
                     {#								</a>#}
                     {#								#}
                     {#							</li>#}
                  </ul>
               </div>
            </div>
            <div  class="wsite-background wsite-custom-background" style= "background:linear-gradient(rgba(255, 128, 0, 0.70),rgba(255, 128, 0, 0.70)),url({% static "images/8720604364_2ebdc6df85_o.jpg" %});background-color: #ff8f2c;background-size: cover !important; background-position: 50% 37.83%; background-repeat: no-repeat; ">
            <div id="banner" class="container">
               <div id="banner-content">
                  {% block banner-content %}
                  {% endblock %}
               </div>
            </div>
         </div>
      </div>
      </div>




      {% block content %}
      {% endblock %}
      <div id="footer-wrap">
         <div class="container" style = " font-size: 12px; text-align: center">&copy; 2016 SOFTKLAS All Rights Reserved &nbsp;&nbsp;&nbsp;&nbsp;<button id="terms"  >Terms</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="privacy">Privacy</button></div>
      </div>

         <!-- Terms content -->
      <div id="myModal1" class="modal">
              <!-- Terms content -->
         <div class="modal-content">
            <div class="modal-header">
               <span class="close1">×</span>
               <h3>Terms</h3>
            </div>
            <div class="modal-body">
               <p>The terms set out how here describe the arrangement Softklas has with its users.</p>

            </div>
            <div class="modal-footer"></div>
        </div>
      </div>

      <!-- Privacy content -->
      <div id="myModal2" class="modal">
              <!-- Privacy content -->
         <div class="modal-content">
            <div class="modal-header">
               <span class="close2">×</span>
               <h3>Privacy</h3>
            </div>
            <div class="modal-body">
               <p>This privacy policy sets out how Softklas uses and protects any information that you give Softklas when you use this website.</p>

            </div>
            <div class="modal-footer">

            </div>
        </div>
      </div>

      <script>
      // Get the modal
      var modal1 = document.getElementById('myModal1');
      var modal2 = document.getElementById('myModal2');

      // Get the button that opens the modal
      var btn1 = document.getElementById("terms");
      var btn2 = document.getElementById("privacy")

      // Get the <span> element that closes the modal
      var span1 = document.getElementsByClassName("close1")[0];
      var span2 = document.getElementsByClassName("close2")[0];
      // When the user clicks the button, open the modal
      btn1.onclick = function() {
          modal1.style.display = "block";
      }
      btn2.onclick = function() {
          modal2.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span1.onclick = function() {
          modal1.style.display = "none";
      }
      span2.onclick = function() {
          modal2.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal1) {
              modal1.style.display = "none";
          }
          if (event.target == modal2) {
              modal2.style.display = "none";
          }
      }
      </script>


   </body>
</html>