{% extends 'index.html' %}
{% load staticfiles %}
{% block banner-content %}
<h2>Home</h2>
{% endblock %}
{% block content %}


<div id="main-wrap">
	  <!--"middle container starts here"-->
		<div class="container"><div id="weebly-area-12" class="weebly-area wsite-elements wsite-not-footer wsite-platform-area">
	<ul id="weebly-area-12" class="weebly-content-area " style="list-style-type: none;">

</ul>
</div>
            <div id="secondlist" class="weebly-area wsite-elements wsite-not-footer ">
	<ul class="weebly-content-area weebly-area-active" style="list-style-type: none;">
	<li class="inside wsite-multicol-li" id="inside_367852577390717530" style="list-style-type: none;">
        {#        -----------------------------------------------------------------------------------------------------------#}
	<div class="element-box">
		<div class="element-box-contents">
			<div class="element" id="755484907606840996"><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
<td class="wsite-multicol-col" id="755484907606840996-col0" style="width:50%; padding:0 15px;">
	<ul class="columnlist" id="755484907606840996-col0-ul" style="list-style-type: none;">
		<li class="inside" id="inside_371897961214944439" style="list-style-type: none;">
	<div class="element-box">
		<div class="element-box-contents">
			<h2 class="element wsite-content-title  id="151394495515825289" style="text-align:left;" aria-label="false"><font size="7">Welcome!</font></h2>
		</div>
	</div>
</li><li class="inside wsite-text" id="inside_556730695412901718" style="list-style-type: none;">
	<div class="element-box">
		<div class="element-box-contents">
			<div class="element paragraph "  id="226776936192153843" style="text-align:justify;" aria-label="false"><span>Hello parents/teachers :)</span><br><span>Would you like to teach computer programming to kids? Creating computer games is an

excellent way to learn computer programming. We can help children get an early start in the

world of technology in a fun way.</span><br><br><span>Do you want to know how? Are you curious?? Click below and see for yourself ...</span></div>
		</div>
	</div>
</li>
        <li class="inside inside-hover" id="inside_764501711150201184">
	<div class="element-box">
		<div class="element-box-contents">
			<div class="element" id="530487471687511831" style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
<a href="/about_us" ><span class="wsite-button wsite-button-small wsite-button-normal" >
<span class="wsite-button-inner "  style="cursor: text;">Yeah why not...</span>
</span></a>
<div style="height: 10px; overflow: hidden;"></div></div>
		</div>
	</div>
</li>
	</ul>
</td><div class="wsite-multicol-divider" style="left: 481px;"></div><div class="wsite-multicol-drag-cover"></div>
                <td class="wsite-multicol-col" id="755484907606840996-col1" style="width:50%; padding:0 15px;">

            <div class="element-box">
		<div class="element-box-contents">
			<div class="element" id="361276906784548463" style=" width: 430px; height: 286.05px;">
                <div style="height:20px;overflow:hidden"></div>
<!-- Use a container to wrap the slider, the purpose is to enable slider to always fit width of the wrapper while window resize -->
    <div class="container" style=" width: 430px; height: 286.05px;">
        <!-- Jssor Slider Begin -->
        <!-- To move inline styles to css file/block, please specify a class name for each element. -->
        <!-- ================================================== -->
        <div id="slider1_container" style=" position: relative; margin: 0 auto; width: 400px; height: 266px; overflow: hidden;">

            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

                background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
                </div>
{#                <div style="position: absolute; display: block; background: url(mages/loading.gif) no-repeat center center;#}
{##}
{#                top: 0px; left: 0px;width: 100%;height:100%;">#}
{#                </div>#}
            </div>

            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width:400px; height: 266px;
            overflow: hidden;">
                <div>
                    <img src="{% static "images/img1.jpg" %}" />
                </div>
                <div>
                    <img src="{% static "images/img2.jpg" %}" />
                </div>
                <div>
                    <img src="{% static "images/img3.jpg" %}" />
                </div>
                <div>
                    <img src="{% static "images/img4.jpg" %}" />
                </div>
                <div>
                    <img src="{% static "images/img5.jpg" %}" />
                </div>

            </div>

            <!--#region Bullet Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->

            <!-- bullet navigator container -->
            <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>
            <!--#endregion Bullet Navigator Skin End -->

            <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->

            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
        </div>

    </div>

{#		<!-- Jssor Slider End -->	                #}

<div style="height:20px;overflow:hidden"></div>
            </div>
		</div>
	</div>


</td>			</tr>
		</tbody>
	</table>
</div>
                </div></div>
		</div>
	</div>
{#        -----------------------------------------------------------------------------------------------------------#}

</li>

</ul>
</div></div>


	  <!--middle container ends here -->

  </div>
	</div>
<script type="text/javascript" src="../js/jssor.slider.mini.js"></script>
    <script>

        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $Idle: 2000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $Cols: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Scale: false                                   //Scales bullets navigator or not while slider scale
                },

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Rows: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 12,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 4,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                    $Scale: false                                   //Scales bullets navigator or not while slider scale
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    jssor_slider1.$ScaleWidth(parentWidth - 30);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
{% endblock %}

