{% extends 'index.html' %}
{% load staticfiles %}
{% block banner-content %}
<h2>Courses</h2>
{% endblock %}
{% block content %}
	<div id="main-wrap">
		<div class="container"><div id='wsite-content' class='wsite-elements wsite-not-footer'>
<div><div style="height: 40px; overflow: hidden; width: 100%;"></div>
      <div class="element-box">
		<div class="element-box-contents">
			<div class="element paragraph " id="675773612819206161" style="text-align:left;" tabindex="0" spellcheck="true" role="textbox" aria-label="false">&#8203;
            <p style = "font-size: 22px;">Probably you have already seen plenty of similar websites offering programming courses for kids.
            What is so special about us? We’ll let you be the judge. Here are some of the features of our educational project.</p>
                <ol class="fulltext">
                    <li>
						All the learning material in the courses on this website is for free! All you need to do
                        to access them is register! There are many other websites that provide a similar
                        service but for a fee. We believe in learning freely.
                    </li>
                    </br>
                    <li>
                        Courses “Programming with Scratch” and “Introduction to Python” are online courses.
                        They contain video lessons with subtitles, practice exercises after each lesson,
                        assignments and some other add-ons like forum, chat etc. which will make learning
                        process more interactive. We provide the content within an integrated virtual learning
                        environment. This is much more than just a collection of videos on a video sharing website.

                    </li>
                    </br>
                    <li>
                        Our scratch course is a complete structured curriculum for teaching basic
                        programming concepts as loop, conditional execution, functions etc. to children
                        by creating games and animations. This is difficult to find on most websites related to scratch.

                    </li>
                    </br>
                    <li>
                        We have designed the curriculum in a manner that makes it easy for a school to
                        transition from teaching programming as a fun side-activity to teaching programming
                        as a part of school curriculum. Doing our courses could be a stress-free way to give
                        basic knowledge of programming and make the child feel more comfortable with this
                        new subject at school.

                    </li>
                    </br>
                </ol>

                <div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
				<a class="wsite-button  wsite-button-inner1" id="readmore" href="javascript:;" >Read more
				{#<span class="wsite-button-inner">Read more</span>#}
				</a>
				<div style="height: 10px; overflow: hidden;"></div></div>



            </div>
		</div>
	</div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 40px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -25px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">



			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 25px;">



<div><div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
<a>
<img src='{% static 'images/scratch.png'%}' alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>
<div class="wsite-spacer" style="height:35.4px;"></div>

<h2 class="wsite-content-title" style="text-align:center;"><font size="4"><span><strong>Programming with Scratch</strong></span></font></h2>

<div class="paragraph" style="text-align:justify;"><span>In this course you will learn the main programming concepts by creating your own games,
    art, animations etc.<br />&#8203;All that you have to be prepared for is to have fun and learn at the same time.&nbsp;</span><br /><br /></div>

{#<div class="wsite-spacer" style="height:35.4px;"></div>#}

<div style="text-align:center;"><div style="height: 20px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="http://www.softklas.com/moodle/course/view.php?id=8" >
<span class="wsite-button-inner">Learn More</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 25px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="{% static 'images/python.png' %}" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<h2 class="wsite-content-title" style="text-align:center;"><font size="4"><span><strong>Introduction to Python</strong></span></font></h2>

<div class="paragraph" style="text-align:justify;"><span>Had enough fun with Scratch? Want to try something more serious? Then this course is for
    you! In this course we will gradually move from dragging and dropping blocks to typing
    commands and produce several lines of programming code.<br /></span></div>

{#<div class="wsite-spacer" style="height:33.4px;"></div>#}

<div style="text-align:center;">
<a class="wsite-button wsite-button-small wsite-button-normal" href="http://www.softklas.com/moodle/course/view.php?id=9" >
<span class="wsite-button-inner">Coming soon...</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 25px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
<a>
<img src="{% static 'images/science.jpg' %}" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

{#<div class="wsite-spacer" style="height:17.4px;"></div>#}

<h2 class="wsite-content-title" style="text-align:center;"><font size="4"><span><strong>Science Concepts</strong></span></font></h2>

<div class="paragraph" style="text-align:justify;"><span>This course contains lessons about some main concepts in science. All lessons were
    created using Scratch programming language. Maybe some of these projects will inspire you
    to create your own animated presentations for your classmates or friends.</span></div>

{#<div class="wsite-spacer" style="height:10px;"></div>#}

<div style="text-align:center;">
    <div style="height: 5px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="http://www.softklas.com/moodle/course/view.php?id=10" >
<span class="wsite-button-inner">Coming soon...</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div></div>
</div>
	</div>





    <script>
                  $(document).ready(function () {
				$('.fulltext').hide();

				$('#readmore').click(function (event) {
  						event.preventDefault();
  						$('.fulltext').slideToggle('slow');
  						$(this).text($(this).text() == 'Read less' ? 'Read more' : 'Read less');
				});
});
   </script>

{% endblock %}
		
		

