{% extends 'index.html' %}
{% load staticfiles %}
{% block banner-content %}
<h2>Login</h2>
{% endblock %}
{% block content %}
	<div id="main-wrap">
		<div class="container"><div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;">Login<br /><br />Password<br /></h2></div>
</div>
	</div>
{% endblock %}

