{% extends 'index.html' %}
{% load staticfiles %}
{% block banner-content %}
<h2>Workshops</h2>
{% endblock %}
{% block content %}
<div id="main-wrap">
<div class="container">
   <div id='wsite-content' class='wsite-elements wsite-not-footer'>
      <div>
         <div style="height: 20px; overflow: hidden; width: 100%;"></div>
         <div class="element-box">
            <div class="element-box-contents">
               <div class="element paragraph "id="900405227946178187" style="text-align:left;" tabindex="0" spellcheck="true" role="textbox" aria-label="false">
                  We want to tell and show as many people as possible, especially children, their parents and
                  teachers that learning computer programming can be very easy and can be a lot of fun.&nbsp;<br><br>
                  We are happy to explore the possibility of visiting your school and conducting a demo class. We could&nbsp;
                  <span>tell you more about Scratch, and how to use this online course material in your school.</span>&nbsp;
                  Our goal is to make school teachers self-reliant with respect to teaching computer programming.<br><br>
                  Shown below is some information and photos about workshops which we have already conducted.<br><br>
                  If this seems interesting and you would like to know more (or if you have questions) you can just
                  <strong><a  href="/contact_us" target="_blank" style="color:#ff8f2c">contact us</a></strong>.<br><br>
               </div>
            </div>
         </div>
         <hr class="styled-hr" style="width:100%;">
         </hr>
{#         <div style="height: 20px; overflow: hidden; width: 100%;"></div>#}
      </div>
      <div>
         <div class="wsite-multicol">
            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
               <table class="wsite-multicol-table">
                  <tbody class="wsite-multicol-tbody">
{#***************************************Workshop2********************************************************************#}
                     <tr class="wsite-multicol-tr">

                        <td class="wsite-multicol-col" style="width:30%;padding-bottom:50px; padding-top: 50px">
                           <div>
                              <div class="wsite-image  " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                 <div class="wrapper">
                                    <div id="nytimes" class="portfolio-thumbnail" >
                                       <span class="text">
                                          <a class="fancybox-thumbs" data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/1.jpg" %}'>
                                             <p style="background: rgba(0, 0, 0, 0.6);font-size: 17px;margin-top: 100px;position: relative;color: #fff;" >Click to view the gallery</p>
                                          </a>
                                       </span>
                                       <img  src='{% static "images/gallery/workshop2/1.jpg" %}' alt="" style="width:auto;max-width:100%" />
                                    </div>
                                    <div id="nytimes" class="portfolio-thumbnail" >
                                    </div>
                                 </div>
                                 {# *******************************************************************************************#}
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/2.jpg" %}' ><img src='{% static "images/gallery/workshop2/2.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/3.jpg" %}' ><img src='{% static "images/gallery/workshop2/3.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/4.jpg" %}' ><img src='{% static "images/gallery/workshop2/4.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/5.jpg" %}' ><img src='{% static "images/gallery/workshop2/5.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/6.jpg" %}' ><img src='{% static "images/gallery/workshop2/6.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/7.jpg" %}' ><img src='{% static "images/gallery/workshop2/7.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/8.jpg" %}' ><img src='{% static "images/gallery/workshop2/8.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/9.jpg" %}' ><img src='{% static "images/gallery/workshop2/9.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/10.jpg" %}' ><img src='{% static "images/gallery/workshop2/10.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/11.jpg" %}' ><img src='{% static "images/gallery/workshop2/11.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/12.jpg" %}' ><img src='{% static "images/gallery/workshop2/12.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery2' data-fancybox-group="thumb2" href='{% static "images/gallery/workshop2/13.jpg" %}' ><img src='{% static "images/gallery/workshop2/13.jpg" %}' alt="" /></a>


                                 {#*******************************************************************************************#}
                                 <div style="display:block;font-size:90%"></div>
                              </div>
                           </div>
                        </td>
                        <td class="wsite-multicol-col" style="width:50%; padding-bottom:50px; padding-top: 50px">
                           {#----------------------------------------------------------------------------------------------------------------------#}
                           <div>
                              <div class="wsite-multicol">
                                 <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                    <table class="wsite-multicol-table">
                                       <tbody class="wsite-multicol-tbody">
                                          <tr class="wsite-multicol-tr">
                                             <td class="wsite-multicol-col" style="width:81.818181818182%; padding:0 15px;">
                                                <h2 class="wsite-content-title" style="text-align:left;"><font size="4"><span><b>One Day Workshop: Coding with Scratch</b></span></font></h2>
                                                <div class="paragraph" style="text-align:left;">Place: Central Mumbai<br />Date: Aug 2016<br />&#8203;Number of participants: 12 children, with one teacher and one computer per child.</div>
                                                <div class="fulltext" style="text-align:justify;">
                                                   <p> <b><a href="http://softklas.com/" target="_blank" style="color:#ff8f2c">SoftKlas</a></b> conducted a one day programming workshop with the help of
                                                       <b><a href="https://gyanada.org/" target="_blank" style="color:#ff8f2c">The Gyanada Foundation</a></b> which works with underprivileged children in urban areas.
                                                   </p>
                                                    <p>Within a few hours, the children who participated in this workshop
                                                       were able to develop a computer game and have fun at the same time.
                                                       Before the workshop these children were complete novices to the world
                                                       of computer programming. At the workshop, with help from teachers,
                                                       the children worked on the teaching materials provided by <b><a href="http://softklas.com/" target="_blank" style="color:#ff8f2c">SoftKlas</a></b>.
                                                       They developed a game using the <b><a href="https://scratch.mit.edu/" target="_blank" style="color:#ff8f2c">Scratch</a></b> project editor.
                                                       The <b><a href="http://softklas.com/" target="_blank" style="color:#ff8f2c">SoftKlas</a></b> +<b> <a href="https://gyanada.org/" target="_blank" style="color:#ff8f2c"> Gyanada</a></b> workshop demonstrated that computer programming
                                                       can be very easy to learn and also a lot of fun for children
                                                       regardless of their prior background.
                                                   </p>
                                                </div>
                                                <div style="text-align:left;">
                                                   <div style="height: 10px; overflow: hidden;"></div>
                                                   <a class="wsite-button  wsite-button-inner1 readmore" href="javascript:;" >Read more
                                                   {#<span class="wsite-button-inner">Read more</span>#}
                                                   </a>
                                                   <div style="height: 10px; overflow: hidden;"></div>
                                                </div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
{#********************************************End of  workshop 2******************************************************#}
                     <tr class="wsite-multicol-tr"  >

                         <td class="wsite-multicol-col" style="width:40.449235080108%;"><hr class="styled-hr" style="width:100%;"></hr></td>
                        <td class="wsite-multicol-col" style="width:40.449235080108%;"><hr class="styled-hr" style="width:100%;"></hr></td>
                     </tr>

{#***************************************Workshop1********************************************************************#}
                     <tr class="wsite-multicol-tr">

                        <td class="wsite-multicol-col" style="width:30%;padding-bottom:50px; padding-top: 50px">
                           <div>
                              <div class="wsite-image  " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                 <div class="wrapper">
                                    <div id="nytimes" class="portfolio-thumbnail" >
                                       <span class="text">
                                          <a class="fancybox-thumbs" data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/01_big.jpg" %}'>
                                             <p style="background: rgba(0, 0, 0, 0.6);font-size: 17px;margin-top: 100px;position: relative;color: #fff;" >Click to view the gallery</p>
                                          </a>
                                       </span>
                                       <img  src='{% static "images/gallery/workshop1/01_big.jpg" %}' alt="" style="width:auto;max-width:100%" />
                                    </div>
                                    <div id="nytimes" class="portfolio-thumbnail" >
                                    </div>
                                 </div>
                                 {# *******************************************************************************************#}
                                 <a class="fancybox-thumbs hidden" rel='gallery1'  data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/02_big.jpg" %}' ><img src='{% static "images/gallery/workshop1/02_big.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery1'  data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/03_big.jpg" %}' ><img src='{% static "images/gallery/workshop1/03_big.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery1'  data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/04_big.jpg" %}' ><img src='{% static "images/gallery/workshop1/04_big.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery1'  data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/05_big.jpg" %}' ><img src='{% static "images/gallery/workshop1/05_big.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery1'  data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/06_big.jpg" %}' ><img src='{% static "images/gallery/workshop1/06_big.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery1'  data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/07_big.jpg" %}' ><img src='{% static "images/gallery/workshop1/07_big.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery1'  data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/08_big.jpg" %}' ><img src='{% static "images/gallery/workshop1/08_big.jpg" %}' alt="" /></a>
                                 <a class="fancybox-thumbs hidden" rel='gallery1'  data-fancybox-group="thumb1" href='{% static "images/gallery/workshop1/09_big.jpg" %}' ><img src='{% static "images/gallery/workshop1/09_big.jpg" %}' alt="" /></a>

                                 {#*******************************************************************************************#}
                                 <div style="display:block;font-size:90%"></div>
                              </div>
                           </div>
                        </td>
                        <td class="wsite-multicol-col" style="width:50%; padding-bottom:50px; padding-top: 50px">
                           {#----------------------------------------------------------------------------------------------------------------------#}
                           <div>
                              <div class="wsite-multicol">
                                 <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                    <table class="wsite-multicol-table">
                                       <tbody class="wsite-multicol-tbody">
                                          <tr class="wsite-multicol-tr">
                                             <td class="wsite-multicol-col" style="width:81.818181818182%; padding:0 15px;">
                                                <h2 class="wsite-content-title" style="text-align:left;"><font size="4"><span><b>ICT And Introduction to Computer Programming</b></span></font></h2>
                                                <div class="paragraph" style="text-align:left;">Place: MIT, Rotegaon<br />Date: Jan 2015<br />&#8203;Number of participants: 70 (teachers)</div>
                                                <div class="fulltext" style="text-align:justify;">
                                                   <p>6 days. 70 teachers. 1 lecture hall. 4 computer labs.
                                                      It was our first attempt. In the morning teachers had theoretical lectures. In the afternoon
                                                      they did practice exercises on computers in the computer labs. First few days were devoted to introduction to ICT.
                                                      Last few days we moved from ICT into introduction to computer programming. We explained teachers what is
                                                      Scratch and how they can use it in their classes. We showed how teachers can use Scratch
                                                      in order to gradually prepare children for learning more sophisticated programming
                                                      languages as a part of school curriculum.
                                                   </p>
                                                </div>
                                                <div style="text-align:left;">
                                                   <div style="height: 10px; overflow: hidden;"></div>
                                                   <a class="wsite-button  wsite-button-inner1 readmore" href="javascript:;" >Read more
                                                   {#<span class="wsite-button-inner">Read more</span>#}
                                                   </a>
                                                   <div style="height: 10px; overflow: hidden;"></div>
                                                </div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
{#********************************************End of  workshop 1******************************************************#}
                     <tr class="wsite-multicol-tr"  >

                         <td class="wsite-multicol-col" style="width:40.449235080108%;"><hr class="styled-hr" style="width:100%;"></hr></td>
                        <td class="wsite-multicol-col" style="width:40.449235080108%;"><hr class="styled-hr" style="width:100%;"></hr></td>
                     </tr>
 {#**************************************************************************************************************************#}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<script>
    $(document).ready(function() {
		$('.fulltext').hide();
        $(".readmore").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html("Read more");
        } else {
            $(this).addClass("less");
            $(this).html("Read less");
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
    </script>
<script>
    $(document).ready(function() {
        $(".fancybox-thumbs").eq(0).trigger("click");
		$('.fancybox-thumbs').fancybox({
			prevEffect : 'none',
			nextEffect : 'none',

			closeBtn  : true,
			arrows    : true,
			nextClick : true,
			helpers : {
				thumbs : {
					width  : 50,
					height : 50
				}
			}
		});

	});
</script>
{% endblock %}